@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

*,
html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan', sans-serif;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none
}

header {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1526040652367-ac003a0475fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80") 100% 100% no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: #1b4965;
  opacity: 0.6;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description h1 {
  color: #E4EA3A;
}

.description p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.description button {
  border: 1px solid #E4EA3A;
  background: #E4EA3A;
  color: #fff;
}

.btn {
  background: none;
  border: 2px solid #E4EA3A;
  color: #E4EA3A;
}

.btn:hover {
  background: #E4EA3A;
  color: #fff;
  border: 2px solid #E4EA3A;
}

.navbar {
  background: #1b4965 !important;
  font-size: 20px;
  border-bottom: 3px solid #E4EA3A;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4 !important;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #E4EA3A !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

.active {
  color: #E4EA3A !important;
}

.container {
  margin: 0 auto;
  width: 95%;
}

header,
section {
  padding: 80px 0px;
}

.row {
  margin: 50px 0;
}

h2,
h3, 
h4 {
  color: #173C53;
}

h3 {
  font-size: 20px;
  margin: 15px 0;
}

h2 {
  font-size: 36px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}

h4 {
  font-size: 24px;
}

hr {
  background-color: #E4EA3A !important;
}

.inner {
  padding: 0 3%;
}

/* 
.skills i {
  background: #E4EA3A;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  color: #173C53;
}

.skills i::before {
  margin-top: 20px;
} */

.progress {
  margin: 20px 0 !important;
  height: 30px;
  background: #CBD9E2;
}

.progress-bar {
  background: #1b4965;
  width: 0%;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-right: 3px solid #E4EA3A;
}

.progress-bar span {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 14px;
}

#profile {
  object-fit: cover;
  min-width: 100px;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card {
  min-width: 250px;
  margin-bottom: 30px !important;
}

.card-body {
  position: relative;
  padding-bottom: 55px;
}

.card-body a {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

#contactForm {
  margin: 0 25%;
}

#contactForm input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
}

footer {
  height: 120px;
  text-align: center;
  background: #1b4965;
}

/* footer */
footer {
  width: 100%;
  display: inline-block;
  background-color: #173C53 !important;
  height: 135px;
  padding: 1%;
  color: #fff;
}

footer .row {
  height: 35px;
  margin: 15px;
}

footer .icon {
  margin: 5px;
}

footer img {
  width: 45px;
}


@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}