@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
*, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  color: #173C53;
}

/* header */
header {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1526040652367-ac003a0475fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80") 100% 100% no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: #1b4965;
  opacity: 0.6;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description h1 {
  color: #E4EA3A;
}

.description p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.description button {
  border: 1px solid #E4EA3A;
  background: #E4EA3A;
  color: #fff;
}

/* general */
.container {
  margin: 0 auto;
  width: 95%;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none
}

.row {
  margin: 50px 0;
}

.btn {
  background: none;
  border: 2px solid #E4EA3A;
  color: #E4EA3A;
  font-size: 13px;
}

.btn:hover {
  background: #E4EA3A;
  color: #fff;
  border: 2px solid #E4EA3A;
  -webkit-transition: ease-in-out 0.3s;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff !important;
  -webkit-transition: ease-in-out 0.4s;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h2, h3, h4 {
  color: #173C53;
}

h2 {
  font-size: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 16px;
  margin: 15px 0;
}

h4 {
  font-size: 24px;
}

hr {
  background-color: #E4EA3A !important;
}

.inner {
  padding: 0 3%;
}

/* navbar */
.navbar {
  background: #1b4965 !important;
  font-size: 16px;
  border-bottom: 3px solid #E4EA3A;
}

.nav-link, .navbar-brand {
  color: #f4f4f4 !important;
  cursor: pointer;
}

.navbar-toggler-icon {
  height: 30px !important;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: #E4EA3A !important;
  -webkit-transition: ease-in-out 0.3s;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #E4EA3A !important;
  color: #fff !important;
}

.active {
  color: #E4EA3A !important;
}

/* sections */
section {
  padding: 80px 0px;
}

#projects {
  background: url('./img/pictures/bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: relative;
}

#projects h2 {
  color: #E4EA3A;
}

#profile {
  object-fit: cover;
  min-width: 100px;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#contactForm {
  margin: 0 10%;
}

#contactForm .btn {
  float: right;
}

/* 
.skills i {
  background: #E4EA3A;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  color: #173C53;
}

.skills i::before {
  margin-top: 20px;
} */


/* progress bars */
.progress {
  margin: 10px 0 !important;
  height: 22px;
  background: #CBD9E2;
}

.progress-bar {
  background: #1b4965;
  width: 0%;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-right: 3px solid #E4EA3A;
}

.progress-bar span {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 5px;
  font-size: 10px;
}

/* card */
.card {
  min-width: 250px;
  margin-bottom: 30px !important;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-body {
  position: relative;
  padding-bottom: 55px;
  font-size: 12px;
}

.card-body a {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

/* footer */
footer {
  height: 120px;
  text-align: center;
  background: #1b4965;
}

footer {
  width: 100%;
  display: inline-block;
  background-color: #173C53 !important;
  height: auto;
  padding: 1.5% 2%;
  color: #fff;
}

footer #social {
  height: 60px;
}

footer a {
  font-size: 14px;
  color: #E4EA3A;
}

footer #copyright {
  background-color: rgb(17, 45, 63);
  font-size: 12px;
  margin-top: 40px;
}

footer .row {
  height: 35px;
  margin: 10px;
}

footer .icon {
  margin: 5px;
}

footer img {
  width: 45px;
}

/* media queries */
@media (min-width: 576px) {
  .container {
    width: 95%;
  }
  body {
    font-size: 14px;
  }
  .progress {
    margin: 15px 0 !important;
    height: 22px;
  }
  .progress-bar span {
    padding-left: 10px;
    font-size: 12px;
  }
  #contactForm {
    margin: 0 15%;
  }
  .btn {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
  body {
    font-size: 15px;
  }
  h2 {
    font-size: 32px;
  }
  .progress {
    margin: 20px 0 !important;
    height: 24px;
  }
  .progress-bar span {
    padding-left: 10px;
    font-size: 12px;
  }
  #contactForm {
    margin: 0 20%;
  }
  .btn {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
  body {
    font-size: 15px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .navbar {
    height: 45px !important;
  }
  .progress {
    margin: 20px 0 !important;
    height: 30px;
  }
  .progress-bar span {
    padding-left: 10px;
    font-size: 13px;
  }
  #contactForm {
    margin: 0 25%;
  }
}