@import url("https://fonts.googleapis.com/css?family=Bellota+Text&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height:100%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #293462;
  font-size: 18px;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("header.jpg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100vw;
}

.btn-primary {
  background-color: #fe346e !important;
  border: none;
  padding: 8px 18px;
}

.btn-primary:hover {
  background-color: #f7be16 !important;
  padding: 8px 18px;
}

.hero:before {
  content: "";
  height: 100%;
  width: 100%;
  height: 150vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
}

header h1 {
  position: relative;
  z-index: 1;
  font-family: "Bellota Text", cursive;
  color: white;
  text-align: center;
  font-size: 6rem;
  line-height: 4rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  max-width: 50rem;
  margin: 45vh auto 0;
  -webkit-transition: 1s opacity ease-in-out;
}

.content {
  position: absolute;
  z-index: 1000;
  top: 100vh;
  background: #fff;
  height: 170vh;
  width: 100vw;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
}

#carousel {
  max-width: 600px;
  width: 100%;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

nav li a {
  font-size: 20px;
  margin: 0 20px;
}

nav #logo {
  height: 56px;
}

.nav-item a {
  color: #151d3d9f !important;
}

.nav-item a:hover {
  color: #151d3d !important;
}

.active a {
  color: #151d3d !important;
}

section {
  padding: 100px 50px;
  text-align: center;
}

.left {
  float: left;
}

#cakes,
#summary,
#about,
footer {
  background: #293462;
  color: #fff;
}

#homeText {
  font-size: 20px;
}

#about, #cupcakes {
  margin-top: 60px;
}

#cupcakes,
#cards {
  background: url("https://images.unsplash.com/photo-1582818617487-8a930205f923?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80")
    no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

#cards,
#homeText {
  margin: 0px;
  background-attachment: scroll;
}

#lblCartCount {
  font-size: 11px;
  background: #fe346e;
  color: #fff;
  padding: 1px 5px;
  vertical-align: top;
  margin-left: -10px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

h1,
h2,
h3 {
  font-family: "Bellota Text", cursive;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: left;
}

h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  padding-bottom: 10px;
}

p {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: #f7be16 !important;
  -webkit-transition: ease-in-out 0.3s;
}

.bg-light {
  background: #293462 !important;
  color: #fff !important;
}


/* Cards */
.card {
  margin: 20px 0px;
  padding: 3% 4%;
  border: none;
  color: #293462;
  font-weight: bold;
}

.card:hover {
  color: #f7be16;
  -webkit-transition: ease-in-out 0.3s;

}

.card-title {
  font-weight: bold;
  font-size: 24px;
}

#cards img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

#cards a {
  text-decoration: none;
  font-family: "Bellota Text", cursive;
}

#cards .card {
  height: 500px;
}

/* products page */
.product-row img {
  width: 100%;
}

.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}

.product-top {
  padding-top: 20px;
}

.product-top:hover .overlay {
  opacity: 1;
  margin-left: 8%;
  transition: 0.5s;
}

.toast-header {
  background-color: #fe346e;
  color: #fff;
}
.toast-body {
  color: #293462;
}

/* cart page*/
#cart img {
  min-width: 100px;
  height: 100px;
  object-fit: cover;
}

#contact form {
  text-align: left;
  padding: 5%;
  border: 2px solid #1b2a49;
  border-radius: 5px;
  max-width: 900px;
  margin: 0 auto;
}

.sum {
  color: #1b2a49;
}

footer {
  background-color: #151d3d;
  height: auto;
  text-align: center;
  padding: 40px;
}

footer #dsgvo a {
  color: #fe346e;
  font-size: 14px;
  margin-bottom: 20px;
}

#copyright {
  background-color: #fe346e;
  padding: 1%;
}


/* Media Queries */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 56px;
  }
  .wrapper {
    width: 100%;
    overflow: hidden;
  }

  section {
    padding: 100px 20px;
    text-align: center;
  }

  #cards img {
    height: 380px;
  }
  
  #cards .card {
    height: 450px;
  }

  nav #logo {
    height: 48px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
  .card {
    min-height: 360px;
  }

  #cards img {
    height: 330px;
  }
  
  #cards .card {
    height: 400px;
  }

  nav #logo {
    height: 42px;
  }

  .btn {
    max-width: 120px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 95%;
  }

  .card {
    min-height: 310px;
  }

  #cards img {
    height: 360px;
  }
  
  #cards .card {
    height: 430px;
  }

  nav #logo {
    height: 42px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 90%;
  }
  .card {
    min-height: 310px;
  }

  #cards img {
    height: 300px;
  }
  
  #cards .card {
    height: 380px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 85%;
  }
  .card {
    min-height: 380px;
  }

  #cards img {
    height: 330px;
  }
  
  #cards .card {
    height: 410px;
  }
}
