.container {
  max-width: 1500px;
  width: ;
}

body {
  font-size: 18px;
}

a {
  color: #EF8354;
}

a:hover {
  color: #BFC0C0 !important;
  text-decoration: none !important;
}

.portfolio-item  {
  border: 1px solid #ccc;
}

.bg-secondary {
  background-color: #2D3142 !important;
}

.text-primary {
  color: #fff!important;
}

.bg-primary {
  background-color: #4F5D75 !important;
}

hr.star-light:after {
  color: #fff;
  background-color: #EF8354;
}

.btn-primary {
  background-color: #EF8354;
  border-color: #EF8354;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #4F5D75 !important;
  border-color: #4F5D75 !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all .5s ease;
  opacity: 0;
  background-color: rgba(239, 131, 84,.9);
}

.progress {
  height: 30px;
  margin-bottom: 15px;
}

.progress-bar.progress-bar-animated {
  background-color: #2D3142;
}

.progress-bar span {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 15px;
  text-align: left;
  width: 0;
}

.wrap {
  width: 80%;
}


#mainNav .navbar-nav>li.nav-item>a.nav-link.active {
  background: #EF8354 ;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2D3142;
  color: #fff;
}

.copyright {
  background-color: #EF8354;
}

.caption {
  width: 70%;
  margin: 0 auto;
}


.caption ul {
  text-align: left;
  /* background: #2D3142; */
  border: 2px dotted #2D3142;
  list-style-type: square;
  /* color: #fff; */
  padding: 2% 10%;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

@media (max-width: 768px) {
.wrap{
  width: 90%;
}

  .caption{
    width: 100%;
  }

  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}